* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

header {
    background-color: #2A607C;
    text-align: left;
    padding: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

#banner {
    font-size: 20px;
}

#banner h1 {
    color: white;
}

header ul { 
    list-style-type: none;
    text-align: right;
}

header li {
    display: inline;
    margin-left: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 50%;
}

nav li {
    display: inline;
    margin-left: 20px;
}

.full-width-image {
    max-width: 100%;
    margin-left: 0.5px;
    background-image: url(Images/digital-marketing-meeting.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

section {
    flex: 1;
    padding: 10px;
    margin: 10px;
    background-color: #2589bd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    order: 1;
}

.sections {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section p, aside p {
    font-size: 16px;
    margin: 20px;
    color: white;
} 

section .image-left {
    max-width: 45%;
    margin-right: 20px;
    height: auto;
    float: left;
}

section .image-right {
    max-width: 45%;
    margin-left: 20px;
    height: auto;
    float: right;
}

.123 {
    margin-bottom: 20px;
    padding: 200px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    display: block;
}

.benefits {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 20px;
    background-color: #2589bd;
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    margin-left: 0.5rem;
} 

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

