* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

header {
    background-color: #2A607C;
    text-align: left;
    padding: 20px;
}

#banner {
    font-size: 20px;
}

#banner h1 {
    color: white;
}

header ul { 
    list-style-type: none;
    text-align: right;
}

header li {
    display: inline;
    margin-left: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 50%;
}

nav li {
    display: inline;
    margin-left: 20px;
}

.full-width-image {
    max-width: 100%;
    margin-left: 0.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

sections {
    flex: 1;
    display: flex;
    flex-direction: column;
} 

section {
    flex: 1;
    padding: 10px;
    margin: 10px;
    background-color: #2589bd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    order: 1;
}

section h2, aside h3 {
    font-size: 1.5em;
    margin: 20px;
    color: white;
}

section p, aside p {
    margin: 20px;
    color: white;
} 

section .image-left {
    max-width: 45%;
    margin-right: 20px;
    height: auto;
    float: left;
}

section .image-right {
    max-width: 45%;
    margin-left: 20px;
    height: auto;
    float: right;
}

aside {
    flex:0 0 30%;
    padding: 20px;
    margin: 20px;
    background-color: #0072BB;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 12px;
    color: white;
    text-align: center;
}

aside img {
    max-width: 100%;
    height: auto;
    display: block;
}

.benefits {
    margin-right: 20px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #000;
    font-size: 20px;
}

